# Server Configuration
APP_PORT=6969
APP_ENV=2045emas

# Database Configuration (SQLite)
DB_PATH=karep

# JWT Configuration (Untuk Autentikasi React)
# Gunakan string random yang panjang untuk SECRET
JWT_SECRET=karep ape mbok isi opo#DineFlow2026
JWT_EXPIRATION_HOURS=259123 jam

# # CORS Configuration (Agar React bisa akses Backend)
# ALLOWED_ORIGIN=http://localhost:5173